{% extends "posts/post_base.html" %}

{% block prepost %}
<div class="col-md-4">
	<h1>{{ post_user.username }}</h1>
	{% if user.is_authenticated and post_user != user %}
	<!-- <form method="post"> -->
		{% csrf_token %}
		{% if post_user in friends %}
		<a href="{% url 'friends:change_friends' operation='remove' pk=post_user.id home='no'%}">
			<button type="sbumit" class="btn btn-danger">Remove</button>
		</a>
		{%else%}
		<a href="{% url 'friends:change_friends' operation='add' pk=post_user.id home='no'%}">
			<button type="sbumit" class="btn btn-success">Add Friend</button>
		</a>
	{% endif %}

	{% endif %}
	{%if userFriends%}
		<h3>{{post_user}} has {{userFriends.count}} Friends:</h3>
		{%for friend in userFriends%}
		{%if friend.id != user.id%}
			{% if friend in friends %}
			<a href="{% url 'posts:for_user' username=post_user.username %}">
				<h3>{{ friend.username }}</h3>
			</a>
				<a href="{% url 'friends:change_friends' operation='remove' pk=friend.id home='no'%}">
					<button type="sbumit" class="btn btn-danger">Remove</button>
				</a>
			{%else%}
			<a href="{% url 'posts:for_user' username=post_user.username %}">
				<h3>{{ friend.username }}</h3>
			</a>
				<a href="{% url 'friends:change_friends' operation='add' pk=friend.id home='no'%}">
					<button type="sbumit" class="btn btn-success">Add Friend</button>
				</a>
			{% endif %}
			{%else%}
			<h3>You :)</h3>
			{%endif%}
		{%endfor%}
	{%else%}
		<h3>{{post_user}} has 0 friends :(</h3>
	{%endif%}
</div>

{% endblock %}
{% block post_content %}
<div class="col-md-8">
	{% for post in post_list %}
	{% include "posts/_post.html" %}
	{% endfor %}
</div>
{% endblock %}
